<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>게시글 상세</h2>
<div>
	<label for="boardNm">제목</label>
	<input type="text" id="boardNm" name="boardNm" value="제목" th:value="${board.boardNm}" readonly>
</div>

<div>
	<label for="boardWriter">작성자</label>
	<input type="text" id="boardWriter" name="boardWriter" value="작성자" th:value="${board.boardWriter}" readonly>
</div>

<div>
	<label for="boardContent">내용</label>
	<input type="text" id="boardContent" name="boardContent" value="내용" th:value="${board.boardContent}" readonly>
</div>

<div>
	<button onclick="location.href='board-edit.html'" th:onclick="|location.href='@{/board/{boardId}/edit(boardId=${board.boardId})}'|" type="button">게시글 수정</button>
</div>

<div>
	<button onclick="location.href='board-list.html'" th:onclick="|location.href='@{/board/list}'|" type="button">목록으로</button>
</div>




<!-- 댓글 쓰는 란 -->
	<form>
            <div class="card-body">
                <input type="hidden" id="boardId" th:value="${board.boardId}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <textarea class="form-control" id="comment-content" rows="1"></textarea>
                        <button id="comment-btn-save" type="button" class="btn btn-dark mt-3">등록</button>
                    </li>
                </ul>
            </div>
   </form>

<div class="card">
        <div class="card-header">댓글</div>
        <ul id="reply--box" class="list-group" th:each="comment : ${board.comments}">
            <li th:value="${comment.commentId}" class="list-group-item d-flex justify-content-between" >
                <div th:id="'comment-content-exist'+${comment.commentId}" th:text="${comment.comment}"></div>
                <div class="d-flex">
                    <span class="text-monospace mr-1">작성자: &nbsp;</span><div class="text-monospace mr-1" id=comment-writer th:text="${comment.commentWriter}"></div>
                    <button id="comment-btn-modify" class="badge btn-warning" onclick="comModi(this)" th:value="${comment.commentId}">수정</button><span> | </span>
                    <button id="comment-btn-del" class="badge btn-danger" onclick="comDel(this)" th:value="${comment.commentId}">삭제</button>
                </div>
            </li>
        </ul>
    </div>



<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
function comDel(t){
	let commentId = $(t).val()
	console.log(commentId);
	let boardId = $("#boardId").val();
	
	$.ajax({
		type: "DELETE",
		url: `/comment/${commentId}`,
	}).done(function (res){
		alert("댓글이 삭제되었습니다.");
		location.href = `/board/${boardId}`;
	}).fail(function (err){
		alert(JSON.stringify(err));
	});
}


function comModi(m){
	let comId = $(m).val()
	var exist = $('#comment-content-exist'+comId).text();
	/* $("#comment-content-exist").text() = ; */
	$("#comment-content-exist"+comId).html('<textarea id="newCom" cols="10" rows="10" name="review_content">'+exist+'</textarea><button id="comModify" onclick="comModiEnd('+comId+',this)"> 수정완료 </button>');

	console.log("성공");
}

function comModiEnd(e,t){
	let data = {
		commentId : $(e),	
		comment: $("#newCom").val()
	}
	
	console.log(data);
	
	let boardId = $("#boardId").val();
	
	$.ajax({
		type:"POST",
		url:`/comment/${boardId}`,
		data: JSON.stringify(data),
		contentType: "application/json; charset=utf-8",
		dataType: "json"
	}).done(function (res){
		alert("댓글 수정이 완료되었습니다.");
		location.href = `/board/${boardId}`;
	}).fail(function (err){
		alert(JSON.stringify(err));
	});
}	
	
/* 댓글 저장 영역 */
let comIndex = {
		init: function(){
			$("#comment-btn-save").on("click",() => {
				this.comSave();
			});
		},
		
		
		
		comSave: function(){
			let data = {
					comment: $("#comment-content").val(),
			}
			let boardId = $("#boardId").val();	
			console.log(data);
			console.log(boardId);
			$.ajax({
				type: "POST",
				url: `/comment/${boardId}`,
				data: JSON.stringify(data),
				contentType: "application/json; charset=utf-8",
				dataType: "text"
			}).done(function (res){
				alert("댓글 작성이 완료되었습니다.");
				location.href = `/board/${boardId}`;
			}).fail(function (err){
				alert(JSON.stringify(err));
			});
		},
		
	}
	
comIndex.init();


</script>

</body>
</html>